
@import "variables";
@import "mixin";
//*estilo de header
.logo {
    height: 10%;
    width: 10%;
}
//*ESTILO DE MENU NAV*
.navbar-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center !important;
    font-weight: bold;
    }

header {
    padding-top: 30px;
    background-color: $color-principal;
    width: 100%;
        nav ul{ 
        width: 100%;
            li{ 
            display: inline-block;
            padding: 0px 15px;
                a{ 
                text-decoration: none;
                color: white;
                font-family: "Nunito Sans", sans-serif1;
                }
            }
        }
}
