@media screen and (max-width: 768px) {
    .image {
      width: 300px;
      height: 300px;
    }
    .cuerpo-principal {
      grid-template-columns: 2fr;
    }
    .contenedor {
      flex-direction: column;
    }
    .container-fluid {
      justify-content: end !important;
    }
    footer div .flexfooter {
      justify-content: center;
    }
}
  
  @media screen and (max-width: 1200px) {
    .cuerpo-principal {
      grid-template-columns: 2fr;
    }
  }